.superInput {
    color: black;
}

.blue {
    color: #eec921;
}
.errorInput {
    border: 3px solid lime;
    background: red;
    font-style: italic;
}

.error {
    color: red;
}
.input:focus {
    outline: none;
    background-color: #yellow;
}